https://apinexsol.code-d.io {
    @options {
        method OPTIONS
    }
    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Credentials true
        Access-Control-Allow-Methods *
        Access-Control-Allow-Headers *
        defer
    }
    reverse_proxy {$PROXY_BACKEND}:{$PROXY_PORT}  {
        header_down -Access-Control-Allow-Origin
    }
    respond @options 204
  }
